.red{
    color:red;
}

.yellow{
    color:yellow;
}
 .green{
    color:green;
 }
 .blank{
    color: black;
 }
 .brown{
    color:brown;
 }
 .blue{
    color:blue;
 }
 img{
    height:200px;
}
h2{
  font-style: italic;
}

